venv/*
.venv/*
.idea/*
secrets/*
!secrets/database
secrets/database/*
!secrets/database/template.json
!secrets/database/config.json
!secrets/mqtt
secrets/mqtt/*
!secrets/mqtt/template.json
!secrets/mqtt/config.json
doc/*
__pycache__/
